pytesseract # 📝 Python-tesseract, another OCR tool
torch==2.5.1
torchvision==0.15.2
easyocr==1.4  # 👁️ Optical Character Recognition (OCR) library

# Manual Installs
#pip install easyocr # 👁️
#pip install pytesseract # 📝
#pip install --upgrade torch torchvision # 🔥📷
